{% extends 'base.html.twig' %}
{% block content %}
    <div>
        <h4>Mon profil</h4>
        {{ form(participantForm) }}
        <button type="button" onclick="history.back();" class="btn btn-primary">Retour</button>
    </div>
{% endblock %}
