{% extends 'base.html.twig' %}

 {% block title %}Afficher Sortie{% endblock %}
{% block content %}
    <p>Salut</p>
    <div>
        {{ form_start(Form) }}
        {{ form_widget(Form) }}
        <button type="btn btn-primary">Modifier</button>
        {{ form_end(Form) }}
    </div>
    <div>
        <a href="{{ path('app_annulee',{'id': item.id}) }}" class="btn btn-primary">Annuler la sortie</a>
    </div>
{% endblock %}