{% extends 'base.html.twig' %}

 {% block title %}Afficher Sortie{% endblock %}
{% block content %}
    <div>
        {{ form_start(Form) }}
        {{ form_widget(Form) }}
        <button type="uk-button uk-button-default">Modifier</button>
        {{ form_end(Form) }}
    </div>
    <div>
        <a href="{{ path('app_annulee',{'id': item.id}) }}" class="uk-button uk-button-default">Annuler la sortie</a>
    </div>
{% endblock %}