{% extends 'base.html.twig' %}

{% block content %}
    test

  {{ form_start(Form) }}

  {{ form_widget(Form) }}

    <button type="btn btn-primary">Submit</button>
  {{ form_end(Form) }}


{% endblock %}