{% extends 'base.html.twig' %}

{% block content %}


  {{ form_start(Form) }}

  {{ form_widget(Form) }}

    <button type="button" class="uk-button uk-button-default uk-flex-center">Submit</button>
  {{ form_end(Form) }}


{% endblock %}