/*main{*/
/*    position: relative;*/
/*    min-height: 100%;*/
/*    min-width: 100%*/
/*}
*/

.header {
    background-color: white;
    color: #AAA;
    height: 100px
}

img {
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
    border: 1px #ddd;
    border-radius: 70%;
    width: 100px;
}

img:hover{


    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    box-shadow: 0 0 10px 3px rgba(240, 76, 110  , 0.8);
    filter: hue-rotate(-0.1turn) drop-shadow(0 0 2.5rem crimson) saturate(200%);
}

.content {
    height: 720px;
}

footer {
    height: 70px;
    position: relative;

}