
.header {
    background-color: white;
    color: #AAA;
    height: 100px
}

label { display: block }

img {
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
    border: 1px #ddd;
    border-radius: 70%;
    width: 100px;
}

img:hover{
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    box-shadow: 0 0 10px 3px rgba(250, 250, 250 , 0.8);
    filter: hue-rotate(0.2turn) drop-shadow(0 0 2.5rem black) saturate(200%);
}

/*.content {*/
/*    height: 720px;*/
/*}*/

/*footer {*/
/*    height: 70px;*/
/*    position: relative;*/

/*}*/

/*.uk-card {*/
/*    background-color: #F87575;*/
/*    color: #e0e0e0;*/
/*    border-radius: 5%;*/
/*    !*box-shadow: 5px 1px 1px #F87575;*!*/
/*}*/

.uk-button {
    border-radius: 5%;
}

/*.uk-button:hover {*/
/*    background: #F87575;*/
/*}*/

/*.card-title {*/
/*    color: #F87575;*/
/*}*/

/*.uk-button-primary {*/
/*    background: #336699;*/
/*    border-radius: 5%;*/
/*}*/




