
.header {
    background-color: white;
    color: #AAA;
    height: 100px
}

label { display: block }

img {
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
    border: 1px #ddd;
    border-radius: 70%;
    width: 100px;
}

img:hover{
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    box-shadow: 0 0 10px 3px rgba(250, 250, 250 , 0.8);
    filter: hue-rotate(0.2turn) drop-shadow(0 0 2.5rem black) saturate(200%);
}

.uk-card {
    border-radius: 2%;
}

.uk-button {
    border-radius: 2%;
    box-shadow: 3px 3px 3px dimgrey;
}

.uk-logo-1 {
    width: 200px;
}

.uk-card:hover {
    background: #DDDDDD;
}



